{{ define "main" }}
<style>
  #img1 {
    width: 200px;
    border: 5px solid white;
    outline: 1px solid grey;
    display: flex;
  }

  ul li {
    text-decoration: none;
    display: inline;
  }

  .product-summary {
    display: flex;
    margin: 30px 0;
  }
  .product-summary {
  }
  .product-cover {
    margin-right: 30px;
  }
  .product-title {
    color: black
  }
</style>

<img src="{{ .Params.img }}" class="img-fluid" alt="" />

<div class="product-summary">
  <div class="product-cover">
    <img src="{{ .Params.cover }}" alt="" id="img1" />
  </div>

  <div class="product-infos">
    <div class="product-title">
      <h2>{{ .Params.title }}</h2>
      <p>{{ partial "tags.html" .}}</p>
      <!-- <p>{{ .Params.tags}}</p> -->
    </div>

    <div class="product-score">
      <h2>{{ .Params.score }}</h2>
    </div>

    <div class="product-text">
      {{ .Params.excerpt }}
    </div>
  </div>
</div>
{{ .Content }}
{{ end }}
